# Node modules
node_modules/

# Local databases
database/*.db
database/*.db-journal
database/*.db-shm
database/*.db-wal

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env
